.navbar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    background-color: rgb(182, 252, 229);
}
.navbar_logo{
    width: 50px;
}
.navbar_button{
    background-color: #9C34C2;
    color: #FDA4AD;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #FFA500;
    cursor: pointer;

}