.row_container_title {
    font-size: 28px;
    font-weight: 700;
    color: grey;
}
.movies_row_container {
    display: flex;
    align-items: center;
}
.row_container{
    overflow-x: scroll;
    overflow-y: hidden;
}
.movies_row > img {
    /* width: 100px; */
    height: 200px;
    margin: 2px;
    transition: transform 0.5s;
}
.movies_row > img:hover {
    transform: scale(1.2);
}